.container {
    width: 100px;
    height: 100px;
    margin: 3px 5px;
    text-align: center;
    cursor: pointer;
    transition: all 1.5s;
}

.image-container {
    position: relative;
    width: 100%;
    height: calc(100% - 23px);
    transition: all 0.5s;
}

.image-container:hover {
    box-shadow: 0 0px 12px 1px #00000030;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 80px;
        height: 80px;
        font-size: 0.9rem;
    }
    .image-container {
        height: calc(80px - 21px);
    }
}