.navigation {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px;
}

.h1 {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    margin: 30px 0px;
}

.h2 {
    margin: 10px 0px;
}

.container {
    margin-bottom: 20px;
    width: 100%;
}

.categories {
    max-width: 750px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.clear {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: var(--primary);
    color: var(--on-primary);
    border-radius: 10px;
    border: 1px solid var(--border);
    padding: 3px 7px;
    margin-top: 10px;
}

.clear:hover {
    background-color: var(--primary-hover);
}

@media only screen and (max-width: 768px) {
    .h1 {
        font-size: 2.3rem;
    }
}