.recipe {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border);
    border-radius: 8px;
    width: 300px;
    background-color: var(--surface);
    margin: 5px;
    cursor: pointer;
    transition: transform 1.5s, box-shadow 1.5s;
}

.recipe:hover {
    transform: scale(1.005);
    box-shadow: 0 0px 12px 4px #00000015;
}

.information {
    padding: 8px 12px;
    height: 209px;
    display: flex;
    flex-direction: column;
}

.image-container {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
}

.bar {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 5px 0px;
}

.h3 {
    margin: 5px 0px;
}

.cook {
    font-size: 0.85rem;
    margin: 5px 0px;
}

.cook-name {
    color: rgb(92, 92, 255);
}