.list-item {
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--border);
    background-color: var(--surface);
    border-radius: 5px;
    padding: 0px 6px 0px 9px;
    margin: 2px 2px 0px;
    cursor: pointer;
}

.list-item span {
    margin-left: 2px;
}

.search-container {
    margin: 5px 0px;
    justify-content: center;
    display: flex;
}

.search {
    height: 40px;
    width: 100%;
    max-width: 700px;
    padding: 5px 7px;
}

.search:focus {
    outline: 1px solid var(--primary);
    z-index: 1;
}

.submit {
    background-color: var(--primary);
    color: var(--on-primary);
    height: 40px;
    width: 41px;
    margin-right: -1px;
    border: 1px solid var(--border);
    border-radius: 2px 0px 0px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit:focus {
    outline: 1px solid var(--primary);
    z-index: 1;
}