#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height);
    box-sizing: border-box;
    display: flex;
    background-color: var(--background);
    color: var(--on-background);
    border-bottom: 1px solid var(--border);
    z-index: 50;
    padding: 0px 15px;
}

.image-container {
    cursor: pointer;
    margin: auto 0px;
    position: relative;
    width: 50px;
    height: 50px;
}

.navbar-end {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.navbar-end .button {
    padding: 7px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: var(--primary);
    color: var(--on-primary);
    cursor: pointer;
    margin-right: 10px;
    font-size: 0.9rem;
}

.navbar-end .button.account {
    padding: 6px 8px;
    position: relative;
}

.account-wrapper {
    display: flex;
    align-items: center;
}

.navbar-end .button:hover {
    background-color: var(--primary-hover);
}

.button:focus {
    box-shadow: 0 0 5px var(--primary);
    outline: none;
}

.dropdown-wrapper {
    position: absolute;
    transform: translateX(100%);
    transform: translateY(100%);
    width: 100%;
    height: 100%;
}

.dropdown {
    left: 0px;
    top: 8px;
    position: absolute;
    text-align: center;
    background-color: var(--background);
    color: var(--on-background);
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    font-weight: normal;
    width: 195px;
    border-radius: 5px;
    font-size: 1rem;
}

.dropdown-item {
    padding: 10px;
    display: flex;
    align-items: center;
}

.dropdown-item span{
    margin: 0px 5px;
}